@inject ParametersManager ParametersManager
@model IEnumerable<(Title title, Chapter chapter)>

@{
    ViewData["Title"] = Labels.Home;
    ViewData["ShowInSearch"] = true;
    ViewData["FixedFooter"] = true;
    ViewData["AllowAlternateAds"] = true;
}

@section Headers
{
    <link rel="alternate" type="application/rss+xml" title="@($"{await ParametersManager.GetValue<string>(ParameterTypes.SiteName)} RSS")" href="@Url.Action("IndexRss")"/>
    <script>
    const totalPages = @ViewData["TotalPages"];
    const pageRequestRoute = "@Url.Action("Index", new {page = 0})";
    </script>
    <script src="~/libs/weebreader/main/index.js" asp-append-version="true"></script>
}

<div class="ui center aligned container">
    <div id="card-container" class="ui four stackable cards">
        <partial name="Partials/Index" model="Model"/>
    </div>
    <div class="ui hidden divider"></div>
    <div id="loader" class="ui disabled centered large inline loader"></div>
</div>