@using Utilities = WeebReader.Web.Localization.Others.Utilities
@model IEnumerable<Title>

@{
    ViewData["Title"] = Labels.Titles;
}

@section Headers
{
    <script src="~/libs/weebreader/main/titles.js" asp-append-version="true"></script>
}

<div class="ui container">
    
    @if (Model.Any(title => title.Status == Title.Statuses.Ongoing))
    {
        <h4 class="ui top attached header">
            @Utilities.FromStatus(Title.Statuses.Ongoing)
        </h4>
        <div class="ui green attached segment">
            <div class="ui four stackable cards">
                @foreach (var title in Model.Where(title => title.Status == Title.Statuses.Ongoing))
                {
                    <partial name="Partials/TitleCard" model="title"/>
                }
            </div>
        </div>
        <div class="ui hidden divider"></div>
    }

    @if (Model.Any(title => title.Status == Title.Statuses.Hiatus))
    {
        <h4 class="ui top attached header">
            @Utilities.FromStatus(Title.Statuses.Hiatus)
        </h4>
        <div class="ui yellow attached segment">
            <div class="ui four stackable cards">
                @foreach (var title in Model.Where(title => title.Status == Title.Statuses.Hiatus))
                {
                    <partial name="Partials/TitleCard" model="title"/>
                }
            </div>
        </div>
        <div class="ui hidden divider"></div>
    }
    
    @if (Model.Any(title => title.Status == Title.Statuses.Completed))
    {
        <h4 class="ui top attached header">
            @Utilities.FromStatus(Title.Statuses.Completed)
        </h4>
        <div class="ui blue attached segment">
            <div class="ui four stackable cards">
                @foreach (var title in Model.Where(title => title.Status == Title.Statuses.Completed))
                {
                    <partial name="Partials/TitleCard" model="title"/>
                }
            </div>
        </div>
        <div class="ui hidden divider"></div>
    }
    
    @if (Model.Any(title => title.Status == Title.Statuses.Dropped))
    {
        <h4 class="ui top attached header">
            @Utilities.FromStatus(Title.Statuses.Dropped)
        </h4>
        <div class="ui red attached segment">
            <div class="ui four stackable cards">
                @foreach (var title in Model.Where(title => title.Status == Title.Statuses.Dropped))
                {
                    <partial name="Partials/TitleCard" model="title"/>
                }
            </div>
        </div>
        <div class="ui hidden divider"></div>
    }
</div>