@using Utilities = WeebReader.Web.Localization.Others.Utilities
@model IEnumerable<Title>

@{
    ViewData["Title"] = Labels.Titles;
}

@section Headers
{
    <script src="~/libs/weebreader/main/titles.js" asp-append-version="true"></script>
}

<div class="ui container">
    
    @if (Model.Any(title => title.Status == Title.Statuses.Ongoing))
    {
        <div class="ui green raised segment">
            <h4 class="ui header">
                @Utilities.FromStatus(Title.Statuses.Ongoing)
            </h4>
            <div class="ui four stackable cards">
                @foreach (var title in Model.Where(title => title.Status == Title.Statuses.Ongoing))
                {
                    <partial name="Partials/TitleCard" model="title"/>
                }
            </div>
        </div>
    }

    @if (Model.Any(title => title.Status == Title.Statuses.Hiatus))
    {
        <div class="ui yellow raised segment">
            <h4 class="ui header">
                @Utilities.FromStatus(Title.Statuses.Hiatus)
            </h4>
            <div class="ui four stackable cards">
                @foreach (var title in Model.Where(title => title.Status == Title.Statuses.Hiatus))
                {
                    <partial name="Partials/TitleCard" model="title"/>
                }
            </div>
        </div>
    }
    
    @if (Model.Any(title => title.Status == Title.Statuses.Completed))
    {
        <div class="ui blue raised segment">
            <h4 class="ui header">
                @Utilities.FromStatus(Title.Statuses.Completed)
            </h4>
            <div class="ui four stackable cards">
                @foreach (var title in Model.Where(title => title.Status == Title.Statuses.Completed))
                {
                    <partial name="Partials/TitleCard" model="title"/>
                }
            </div>
        </div>
    }
    
    @if (Model.Any(title => title.Status == Title.Statuses.Dropped))
    {
        <div class="ui red raised segment">
            <h4 class="ui header">
                @Utilities.FromStatus(Title.Statuses.Dropped)
            </h4>
            <div class="ui four stackable cards">
                @foreach (var title in Model.Where(title => title.Status == Title.Statuses.Dropped))
                {
                    <partial name="Partials/TitleCard" model="title"/>
                }
            </div>
        </div>
    }
</div>