<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_SharedHeaders"/>
    <script>
    $(function() {
      $(".ui.sidebar").sidebar({
        context: $(".bottom.segment")
      }).sidebar("attach events", "#toggler");
    })
    </script>
    @await RenderSectionAsync("Headers", false)
</head>
<body>
<div class="ui top attached inverted menu no-margin-top no-border-radius">
    <a class="item" href="/">
        <img src="~/assets/logo.png" alt="Logo"/>
    </a>
    <a id="toggler" class="item">
        <i class="sidebar icon"></i>
        Menu
    </a>
    <a class="item right aligned" href="@Url.Action("SignOut", "SignIn")">
        <i class="sign-out icon"></i>
        Sign out
    </a>
</div>
<div class="ui bottom attached segment pushable no-border no-border-radius">
    <div class="ui inverted left vertical sidebar menu">
        <div class="item">
            <div class="header">
                <i class="book icon"></i>
                Comics
            </div>
            <div class="menu">
                <a class="item">Add Chapter</a>
                <a class="item">Add Comic</a>
                <a class="item">List of Comics</a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <i class="book icon"></i>
                Novels
            </div>
            <div class="menu">
                <a class="item">Add Chapter</a>
                <a class="item">Add Novel</a>
                <a class="item">List of Novels</a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <i class="newspaper icon"></i>
                Blog
            </div>
            <div class="menu">
                <a class="item">Add Post</a>
                <a class="item">List of Posts</a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <i class="file outline icon"></i>
                Resources
            </div>
            <div class="menu">
                <a class="item">Add Resource</a>
                <a class="item">List of Resources</a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <i class="external alternate icon"></i>
                Links
            </div>
            <div class="menu">
                <a class="item">Add Link</a>
                <a class="item">List of Links</a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <i class="users icon"></i>
                Users
            </div>
            <div class="menu">
                <a id="your-profile" class="item" href="@Url.Action("YourProfile", "UserManager")">Your Profile</a>
                <a class="item">Add User</a>
                <a class="item">List of User</a>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <i class="cogs icon"></i>
                Settings
            </div>
            <div class="menu">
                <a class="item">General</a>
                <a class="item">Email</a>
                <a class="item">Pages</a>
                <a class="item">Disqus</a>
            </div>
        </div>
    </div>
    <div class="pusher">
        <div class="ui hidden section divider"></div>
        @RenderBody()
    </div>
</div>
</body>
</html>