@model IEnumerable<Post>

@foreach (var post in Model)
{
    <div class="ui raised inverted segment">
        <div class="content">
            <h4 class="ui inverted header add-ellipsis">@post.Title</h4>
            <p><i class="calendar alternate outline icon"></i>@post.ReleaseDate.ToString("yyyy-MM-dd")</p>
            @Html.Raw(post.Content)
        </div>
    </div>
}