@inject ParametersManager ParametersManager

@{
    var allowAlternateAds = ViewData["AllowAlternateAds"] as bool? ?? false;
    var useAlternateAds = true;
}

@if (await ParametersManager.GetValue<bool>(ParameterTypes.AdsEnabled))
{
    @if (allowAlternateAds && useAlternateAds)
    {
        <div class="font-sans">
            <div class="max-w-7xl mx-auto py-16">
                <div class="bg-blue-700 rounded-lg shadow-xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4">
                    <div class="pt-4 pb-8 px-6 sm:pt-16 sm:px-16 lg:py-10 lg:pr-0 xl:py-10 xl:px-16">
                        <div class="lg:self-center">
                            <h2 class="font-extrabold text-white mt-0">
                                <span class="block text-lg sm:text-xl">Want to keep up with new chapters?</span>
                                <span class="block text-xl sm:text-2xl">Use Kenmei to track Arang Scans releases!</span>
                            </h2>
                            <p class="mt-4 text-lg leading-6 text-blue-200">Track latest releases from Arang Scans and 25 other sites, all in one place.</p>
                            <a href="https://www.kenmei.co/" class="mt-4 bg-white border border-transparent rounded-md shadow px-5 py-3 inline-flex items-center text-base font-medium text-blue-600 hover:bg-blue-50">Sign up for free</a>
                        </div>
                    </div>
                    <div class="aspect-w-4 aspect-h-2 md:aspect-w-3 md:aspect-h-1">
                        <img class="transform translate-x-12 translate-y-6 object-cover object-left-top rounded-b-md sm:rounded-r-md sm:translate-x-16 lg:translate-y-28" src="https://www.kenmei.co/img/ea-features.2a15abeb.png" alt="App screenshot">
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="ui container">
            @Html.Raw(await ParametersManager.GetValue<string>(ParameterTypes.AdsTopSlot))
        </div>
    }
}