@inject ParametersManager ParametersManager

@{
    var disqusEnabled = await ParametersManager.GetValue<bool>(Parameter.Types.PageDisqusEnabled);
    var disqusShortname = await ParametersManager.GetValue<string>(Parameter.Types.PageDisqusShortname);
    var pageUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
}

@if (disqusEnabled)
{
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
        this.page.url = "@pageUrl";
        this.page.identifier = "@ViewData["DisqusIdentifier"]";
        this.page.title = "@ViewData["DisqusTitle"]";
    };
    
    (function() {
        var d = document, s = d.createElement("script");
        s.src = "https://@(disqusShortname).disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
}