@inject SettingManager SettingManager

@{
    ViewData["SiteName"] = await SettingManager.GetValue(Setting.Keys.SiteName);
    ViewData["SiteDescription"] = await SettingManager.GetValue(Setting.Keys.SiteDescription);
}

<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Site Properties -->
<title>@ViewData["Title"]@(ViewData["TitleSeparator"] ?? " - ")@ViewData["SiteName"]</title>
<meta name="description" content="@ViewData["SiteDescription"]">
@if (Convert.ToBoolean(ViewData["AllowIndexing"]))
{
    <meta name="robots" content="noindex, nofollow">
}
<link rel="icon" href="~/assets/logo.png">
<link rel="stylesheet" href="~/libs/fomantic.2.8.3.css"/>
<link rel="stylesheet" href="~/libs/weebreader.1.0.css"/>
<link rel="stylesheet" href="~/libs/cookieconsent.3.1.1.css"/>
<link rel="stylesheet" href="~/libs/overrides.css"/>
<script src="~/libs/jquery-3.4.1.js"></script>
<script src="~/libs/jquery.serialize-object.2.5.0.js"></script>
<script src="~/libs/fomantic.2.8.3.js"></script>
<script src="~/libs/cookieconsent.3.1.1.js"></script>
<script src="~/libs/weebreader.1.0.js"></script>
<script>
$(() => {
    window.cookieconsent.initialise({
    "palette": {
        "popup": {
            "background": "#333"
            },
            "button": {
            "background": "#000000"
        }},
        "showLink": false,
        "theme": "edgeless",
        "position": "bottom-right",
        "content": {
        "message": "@PortalMessages.MSG030",
        "dismiss": "@PortalMessages.MSG031"
    }});
});
</script>