@model EmailModel

@{
    ViewData["Title"] = "Forgot Password";
}

@section Headers
{
    <script>
    $(function() {
      $(".form").form({
      on: "blur",
      fields: {
          email: {
              identifier: "email",
              rules: [
                  {
                      type: "empty",
                      prompt: "An e-mail address is required."
                  },
                  {
                      type: "email",
                      prompt: "A valid e-mail address is required."
                  }
              ]
          }
      }
      }).api({
      url: "@Url.Action("ForgotPassword")",
      serializeForm: true,
      method: "POST",
      onSuccess: function(response) {
        window.location.href = response.destination;
      },
      onFailure: function(response) {
        addError($(".form .message"), response);
      }
      });
    });
    </script>
}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui image header">
            <img class="image" src="~/assets/logo.png" alt="Logo">
            <div class="content">
                Insert your e-mail
            </div>
        </h2>
        <form class="ui large form" novalidate>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="email" placeholder="Email Address" asp-for="Email">
                    </div>
                </div>
                <input class="ui fluid large black submit button" type="submit" value="Recover Password"/>
            </div>
            <div class="ui message error"></div>
        </form>
    </div>
</div>