@model ResetPasswordModel

@{
    ViewData["Title"] = "Change Password";
}

@section Headers
{
    <script>
    $(function() {
      $(".form").form({
      on: "blur",
      fields: {
          newPassword: {
              identifier: "newPassword",
              rules: [
                  {
                      type: "empty",
                      prompt: "A new password is required."
                  },
                  {
                      type: "length[8]",
                      prompt: "The password must have at least 8 characters."
                  }
              ]
          },
          repeatNewPassword: {
              identifier: "repeatNewPassword",
              rules: [
                  {
                      type: "match[newPassword]",
                      prompt: "The passwords must be equal."
                  }
              ]
          }
      }
      }).api({
      url: "@Url.Action("ProcessResetPassword")",
      serializeForm: true,
      method: "POST",
      onSuccess: function(response) {
        window.location.href = response.destination;
      },
      onFailure: function(response) {
        addError($(".form .message"), response);
      }
      });
    });
    </script>
}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui image header">
            <img class="image" src="~/assets/logo.png" alt="Logo">
            <div class="content">
                Change your password
            </div>
        </h2>
        <form class="ui large form" novalidate>
            <input type="hidden" name="userId" asp-for="UserId"/>
            <input type="hidden" name="token" asp-for="Token"/>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="newPassword" placeholder="New Password" asp-for="NewPassword">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="repeatNewPassword" placeholder="Repeat the Password">
                    </div>
                </div>
                <input class="ui fluid large black submit button" type="submit" value="Change Password"/>
            </div>
            <div class="ui message error"></div>
        </form>
    </div>
</div>