@model IEnumerable<Post>

@{
    ViewData["Title"] = Labels.Blog;
}

@section Headers
{
    <script>
    const currentPage = @ViewData["CurrentPage"];
    const totalPages = @ViewData["TotalPages"];
    const pageRequestRoute = "@Url.Action("Blog", new {page = 0})";
    </script>
    <script src="~/libs/weebreader/main/blog.js" asp-append-version="true"></script>
}

<div id="post-container" class="ui container">
    <partial name="Partials/BlogPosts" model="Model"/>
</div>
<div class="ui hidden divider"></div>
<div id="loader" class="ui disabled centered large inline loader"></div>