@model IEnumerable<Post>

@{
    ViewData["Title"] = Labels.Blog;
}

@section Headers
{
    <script>
    var currentPage = @ViewData["CurrentPage"];
    var totalPages = @ViewData["TotalPages"];
    var pageRequestRoute = "@Url.Action("Index", new {page = 0})";
    </script>
    <script src="~/libs/weebreader.1.0.0/main/blog.js"></script>
}

<div id="post-container" class="ui container">
    <partial name="Partials/BlogPosts" model="Model"/>
</div>
<div class="ui hidden divider"></div>
<div id="loader" class="ui disabled centered large inline loader"></div>